body{

  /* background-image:linear-gradient( to top, rgb(75, 238, 247),rgb(114, 25, 203),yellow,purple); */ 
      font-family:Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0 20px;
    
}
.main-container{
    text-align: center;
    /* background: rgb(18, 1, 50); */
     background-image:linear-gradient( to right, rgb(75, 238, 247),rgb(114, 25, 203)); 
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(7, 209, 74, 0.2);
    width: 90%; 
    max-width: 400px;
}
.main-container:hover{
    background-color: rgb(14, 12, 16);
}

h1{
    color: rgb(12, 12, 12);
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
}
h1:hover{
    color:rgb(238, 239, 242);
    cursor: pointer;
    
}

button{
    padding: 10px;
    background-color: rgb(81, 81, 195);
    color: white;
}
button:hover{
             transform: scale(2);
             background-color: rgb(157, 54, 164);
             color: rgb(8, 8, 8);
            

}


@media (min-width: 600px) {
    button {
        width: auto;
       
    }
    main-container{
        width: auto;
       

    }
}